<form method="post" action="../user/changeData">
    Change Name and Last Name
    <br>
    New name: <input type="text" name="name">
    <br>
    New last name: <input type="text" name="lastName">
    <br>
    <input type="submit" value="Change">
</form>

<form method="post" action="../user/changePassword">
    Change password
    <br>
    You current password: <input type="password" name="currentPassword">
    <br>
    New password: <input type="password" name="newPassword">
    <br>
    Repeat new password: <input type="password" name="repeatPassword">
    <br>
    <input type="submit" value="Change">
</form>

<form method="post" action="../user/deleteAccount">
    DELETE ACCOUNT: <input type="submit" value="DELETE">
</form>