<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<form action="/settings/set" method="post">
    Number news: <input type="number" name="numberNews">
    <input type="submit" value="Accept">
</form>
<form action="/settings/set" method="post">
    Search param: <select name="searchType">
    <option value="SEARCH_BY_TITLE">By Title</option>
    <option value="SEARCH_BY_AUTHOR">By Author</option>
    <option value="SEARCH_BY_TAGS">By Tags</option>
</select>
    <input type="submit" value="Accept">
</form>
</html>