<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<b>Add news: </b>
<br><br>
<form  action="../news/addNews" method="post" th:object="${news}">
    Title <input type="text" name="title" th:field="*{tittle}" required>
    <br><br>
    Text <input type="text" name="text" th:field="*{newsText}" required>
    <br><br>
    Tags <input type="text" name="tags" required>
    <br><br>
    <input type="submit" value="Send" required>
</form>
</html>